# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project
.project
.cproject
.settings

# CMake
build/*
!build/b_release.sh
!build/b_debug.sh
