[Unit]
Description=Thinkpad fan controller.
Requires=systemd-modules-load.service
After=systemd-modules-load.service

[Service]
ExecStart=/usr/local/bin/tpfand
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target